/* default styles */

body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #171717;
}

h1 {
  font-family: "Lora";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
}

@media all and (min-width: 48rem) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.1666666667;
  }
}

h2 {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875;
}

h3 {
  font-family: "Lora";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875;
}

h4 {
  font-size: 0.75rem;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1875;
  color: #999999;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875;
}

/* default styles end */

/* header styles */

.header {
  padding: 1rem 0;
  border-bottom: 1px solid #c6c6c6;
}

@media all and (min-width: 48rem) {
  .header {padding: 1.5rem 0;}
}

.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header styles end */

/* product primary info styles */

.product-name {
  margin: 0;
  padding: 1rem 0;
}

.product-photo-gallery-wrap {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.product-photo-gallery {
  display: flex;
  overflow-x: scroll;
  flex-flow: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.product-photo {
  object-fit: contain;
  width: auto;
  height: 25rem;
}

.product-details {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

@media all and (min-width: 48rem) {
  .product-name {padding: 1.5rem 0;}

  .product-photo-gallery-wrap {
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .product-photo-gallery {
    display: flex;
    overflow-x: scroll;
    flex-flow: row;
    flex-shrink: 0;
  }

  .product-photo {
    object-fit: contain;
    width: auto;
    height: 36rem;
  }

  .product-details {padding: 0;}
}

.product-details-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.product-details-price {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.19;
}

.product-details-vendor-code {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

.product-details-color {
  margin: 0 0 1rem 0;
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

.color-change-buttons {
  display: flex;
  flex-flow: row;
  margin-bottom: 2rem;
}

.btn-color-change {
  margin-right: 1rem;
  width: 40px;
	height: 40px;
  border: none;
  border-radius: 100px;
  font-size: 0;
}

.btn-color-change-black {background-color: #000000;}

.btn-color-change-honey {background-color: #cfa880;}

.btn-color-change-selected {
  padding: 1px;
  border: solid 1px #232122;
}

.divider {
  margin: 0;
  height: 1px;
  border: none;
  background-color: #c6c6c6;
}

.action-buttons {padding-top: 2rem;}

.btn-fill {
  box-sizing: border-box;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-family: "Raleway";
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  background-color: #171717;
  border: solid 1px #171717;
}

.btn-stroke {
  box-sizing: border-box;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-family: "Raleway";
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background-color: Transparent;
  border: solid 1px #999999;
}

.btn-text {
  padding: 0;
  margin-top: 0.5rem;
  font-family: "Raleway";
  font-size: 0.75rem;
  line-height: 1.3333333333;
  text-transform: uppercase;
  border: none;
  background-color: Transparent;
}

/* product primary info styles end */

/* product secondary info styles */

.description-accordion {
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}

@media all and (min-width: 48rem) {
  .description-accordion {
    border-top: none;
    border-bottom: none;
  }
}

.accordion-title {
  position: relative;
  padding: 2rem 0;
  margin: 0;
  line-height: 1.25;
  text-transform: uppercase;
}

.accordion-title::after {
  position: absolute;
  right: 0;
  left: auto;
  width: 10px;
  height: 20px;
  background-image: url("../img/triangle.svg");
  background-repeat: no-repeat;
  background-position: center right;
  content: "";
}

.accordion-title.active::after {transform: rotate(180deg);}

.accordion-content {padding-bottom: 2rem;}

.accordion-content p, li{
  padding: 0;
  margin: 0;
  font-family: "Lora";
  font-size: 0.875rem;
  line-height: 1.7142857143;
}

.accordion-content ul {
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  list-style: none;
}

@media all and (min-width: 48rem) {
  .description-accordion {
    border-top: none;
    border-bottom: none;
  }

  .accordion-title {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  .accordion-title::after {visibility: hidden;}

  .accordion-content {padding-bottom: 1.5rem }
}

.delivery-accordion {border-bottom: 1px solid #c6c6c6;}

.delivery-photo {display: none;}

.delivery-accordion .accordion-content {display: none;}

.accordion-content-title {
  margin: 0;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.1666666667;
}

.delivery-accordion .accordion-content-text {
  margin: 0;
  padding-bottom: 1.5rem;
  font-size: 0.75rem;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.3333333333;
}

@media all and (min-width: 48rem) {
  .delivery-accordion {border-bottom: none;}

  .delivery-photo {
    display: block;
    width: 100%;
    height: auto;
  }

  .delivery-accordion .accordion-title {padding: 0 0 1rem 0;}

  .delivery-accordion .accordion-content {
    display: block;
    padding: 0;
  }
}

/* product secondary info styles end */

/* recommended products styles */

.recommend {padding: 3rem 0 1rem 0;}

.section-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
}

@media all and (min-width: 48rem) {
  .recommend {padding: 1.5rem 0 2rem 0;}

  .section-title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.recommend-product {
  display: block;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #171717;
}

.recommend-product-photo {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  height: auto;
}

.recommend-product-title {margin: 0 0 0.5rem 0;}

.recommend-product-price {margin: 0;}

/* recommended products styles end */

/* relevant links styles */

.relevant-links {
  display: block;
  padding: 0;
}

.relevant-links-content {
  margin-top: 0;
  padding-bottom: 3rem;
}

.relevant-link {
  display: block;
  margin-bottom: 1rem;
  font-family: "Lora";
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.2142857143;
  text-decoration: none;
  color: #171717;
}

@media all and (min-width: 48rem) {
  .relevant-links { display: none;}
}

/* relevant links styles end */

/* footer styles */

.footer {
  padding: 0;
  background-color: #f3f3f3;
}

/* settings */

.footer-settings {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 0;
}

.footer-btn {
  padding: 0;
  margin-bottom: 1rem;
  font-family: "Raleway";
  font-size: 0.75rem;
  line-height: 1.3333333333;
  text-align: left;
  color: #999999;
  border: none;
  background-color: transparent;
}

@media all and (min-width: 48rem) {
  .footer-settings {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .footer-btn {margin: 0 1.5rem 0 0;}
}
/* settings end */

/* help */

.footer-help {
  padding-top: 0;
  padding-bottom: 2rem;
}

.footer-title {
  margin: 0;
  padding: 0.5rem 0 1rem 0;
  display: block;
  text-align: center;
}

.footer-link {
  display: block;
  font-family: "Lora";
  font-size: 0.875rem;
  font-style: italic;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #171717;
}

/* help end */

/* navigation */

.footer-navigation {
  display: none;
  padding-top: 2rem;
  padding-bottom: 1.25rem;
}

.footer-navigation-column {display: block;}

.footer-navigation-link {
  display: block;
  margin: 0;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1.3333333333;
  text-decoration: none;
  color: #999999;
}

.footer-navigation-title {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 0.75rem;
  font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.1666666667;
  text-transform: uppercase;
  color: #171717;
}

/* navigation end */

@media all and (min-width: 48rem) {
  .footer-help {display: none;}

  .footer-navigation {display: block;}
}

/* footer styles end */
